table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid #000000;
  text-align: center;
  @apply py-6 px-12 text-center
}

tr:nth-child(even) {
  background-color: #dddddd;
}
